@use '../../theme/media.scss';
@use '../../theme/variables/font.scss';
@use 'sass:map';

.wrap {
	display: flex;
	flex-direction: column;
	padding: var(--spacing-default) 0;
	position: relative;
	text-align: left;

	@include media.tabletLandscape {
		max-width: 50%;
		padding: 0;
	}
}

.inner {
	display: flex;
	flex-direction: row;
}

.heading {
	color: var(--palette-white);
	font-family: map.get(font.$font, sans-serif);
	font-size: 1.2rem;
	font-weight: 400;
	letter-spacing: 0.1rem;
	margin: 0;
	text-transform: uppercase;
}

.text {
	font-size: 1.4rem;
	font-weight: map.get(font.$font, weight-bold);
	line-height: 2.4rem;
	margin: 0;
	text-align: left;

	span {
		em {
			font-size: 1.4rem;
		}

		&:nth-of-type(2) {
			display: block;
		}

		&:nth-of-type(3) {
			display: block;
			font-size: 1.2rem;
			font-weight: map.get(font.$font, weight);
		}
	}

	a {
		border: 0;
		color: var(--palette-white);
	}
}

.image {
	border-radius: 0.75rem;
	border: 3px solid #fff;
	height: 6.4rem;
	margin: 0 var(--spacing-default) 0 0;
	width: 6.4rem;

	@include media.tabletLandscape {
		margin: 0 var(--spacing-default) 0 0;
	}
}

.sound-icon {
	height: 3.2rem;
	position: absolute;
	right: var(--spacing-default);
	top: var(--spacing-default);
	width: 3.2rem;

	@include media.prefersReducedMotion {
		display: none;
	}
}
