.music {
	animation: fadeInUp 0.8s ease forwards;
	display: flex;
	flex-direction: row;
	gap: var(--spacing-sm);
	padding: var(--spacing-default) 0;

	@media only screen and (min-width: 1024px) {
		padding: 0;
	}

	a {
		border: 0;
	}

	p {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
		text-align: left;

		span {
			&:first-of-type {
				font-weight: bold;
			}

			&:nth-of-type(2) {
				font-family: var(--font-serif);
			}


			&:last-of-type {
				color: var(--palette-body-text-50);
				font-size: 0.6rem;
				text-transform: uppercase;
				font-family: var(--font-sans);
				font-weight: 400;
				letter-spacing: 1px;
				text-transform: uppercase;
			}
		}
	}

	img {
		border: 0.25rem solid white;
		box-shadow: 0 0 6px var(--palette-body-text-25);
		height: auto;
		transition: all 0.3s ease-in-out;
		width: 4rem;

		&:hover, &:focus {
			transform: scale(1.1);
		}

		@media (prefers-reduced-motion: reduce) {
			transition: none;
		}
		
	}

}
