@use '../../theme/media.scss';
@use '../../theme/variables/palette.scss';
@use '../../theme/variables/spacing.scss';
@use '../../theme/variables/font.scss';
@use 'sass:map';

.wrap {
	background: map.get(palette.$palette, light-grey);
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	padding: map.get(spacing.$spacing, default);
	text-align: left;
}

.inner {
	display: flex;
	flex-direction: row;
}

.heading {
	color: map.get(palette.$palette, body-text);
	font-family: map.get(font.$font, sans-serif);
	font-size: 1.2rem;
	font-weight: 400;
	letter-spacing: 0.1rem;
	margin: 0;
	text-transform: uppercase;

	// &::after {
	// 	content: '';
	// 	display: block;
	// 	border-bottom: 2px solid map.get(palette.$palette, brand);
	// 	margin: map.get(spacing.$spacing, xs) 0 0;
	// 	width: map.get(spacing.$spacing, default);
	// }
}

.text {
	font-size: 1.4rem;
	font-weight: map.get(font.$font, weight-bold);
	line-height: 2.4rem;
	margin: 0;
	text-align: left;

	span {
		em,
		&:nth-of-type(3) {
			font-weight: map.get(font.$font, weight);
		}

		em {
			font-size: 1.4rem;
		}

		&:nth-of-type(2) {
			display: block;
			font-weight: map.get(font.$font, weight);
		}

		&:nth-of-type(3) {
			display: block;
			font-size: 1.2rem;
		}
	}

	a {
		border: 0;
		color: map.get(palette.$palette, body-text);
	}
}

.image {
	border-radius: 1rem;
	height: 6.4rem;
	margin: 0 map.get(spacing.$spacing, default) 0 0;
	width: 6.4rem;

	@include media.tabletLandscape {
		margin: 0 map.get(spacing.$spacing, default) 0 0;
	}
}

.sound-icon {
	height: 3.2rem;
	width: 3.2rem;

	@include media.prefersReducedMotion {
		display: none;
	}
}
