section {
    background: var(--palette-white);

    &:nth-of-type(2n) {
        background: var(--palette-body-background);
    }

}

.inner-wrap {
    margin: 0 auto;
	max-width: 1100px;
	padding: var(--spacing-md) var(--spacing-default);

    @media only screen and (min-width: 768px) {
        padding: var(--spacing-lg) var(--spacing-default);
    }
    
}