p {
    font-family: var(--font-sans);
    font-size: 1rem;
    line-height: 1.9;
    margin-bottom: var(--spacing-default);
    text-wrap: pretty;
}

h1 {
    font-family: var(--font-serif);
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: var(--spacing-sm);

    @media only screen and (min-width: 1024px) {
        font-size: 2.2rem;
    }

     &:after {
        border-bottom: 2px solid var(--palette-brand);
        content: '';
        display: block;
        margin: var(--spacing-sm) 0;
        width: 3rem;
    }

}

h2 {
    font-family: var(--font-serif);
    font-size: 2rem;
    font-style: italic;
    font-weight: 600;
    line-height: 1;
    margin: 0;

     &:after {
        border-bottom: 2px solid var(--palette-brand);
        content: '';
        display: block;
        margin: var(--spacing-sm) 0;
        width: 3rem;
    }
    
}