.hero {
	.inner-wrap div {
		width: 100%;
	}

	h1 {
		font-size: 3.6rem;
	}

	p {
		font-size: 2.2rem;
		line-height: 3.6rem;
		margin: 0;

		@media only screen and (min-width: 1024px) {
			font-size: 2.4rem;
			line-height: 4rem;
			width: 70%;
		}
	}
}
