<!-- ---
import styles from './hero.module.css';
---

<section class={styles.hero}>
	<div class={`inner-wrap ${styles.inner_wrap}`}>
		<h1>Hello, my name is <span>Simon Hudson</span></h1>
		<div class={styles.hero_intro}>
			<p class={styles.lead}>
				I am an experienced <strong>Full Stack Developer</strong> who uses <strong>HTML</strong>,{' '}
				<strong>CSS</strong> and <strong>TypeScript</strong> to create <strong>accessible</strong> and{' '}
				<strong>usable</strong> websites and applications.
			</p>
		</div>
	</div>
</section> -->

<section class="hero">
	<h1>Hello, my name is <span>Simon Hudson</span></h1>
	<div class="hero-intro">
		<p class="lead">I am an experienced Full Stack Developer who uses <strong>HTML</strong>, <strong>CSS</strong> and <strong>TypeScript</strong> to create accessible and usable websites and applications.</p>
		<p class="sub"></p>
	</div>
</section>