---
import styles from './hero.module.css';
---
<section class={styles.hero}>
	<h1>Hello, my name is <span>Simon Hudson</span></h1>
	<div>
		<p class={styles.lead}>I am an experienced <strong>Full Stack Developer</strong> who uses <strong>HTML</strong>, <strong>CSS</strong> and <strong>TypeScript</strong> to create <strong>accessible</strong> and <strong>usable</strong> websites and applications.</p>
	</div>
</section>