@use 'sass:map';
@use '../../theme/media.scss';

.hero {
	.inner-wrap div {
		width: 100%;
	}

	h1 {
		font-size: 2.4rem;
	}

	p {
		font-size: 1.8rem;
		font-weight: 300;
		// line-height: 3.6rem;
		margin: 0;

		@include media.tabletLandscape {
			font-size: 1.8rem;
			// line-height: rem;
			width: 70%;
		}

		strong {
			color: var(--color-primary);
			font-weight: 700;
		}
	}
}
