.hero {
	padding: 0;

	.inner_wrap {
		border-top: 1px solid rgb(from var(--palette-body-text) r g b / 0.35);
		border-bottom: 1px solid rgb(from var(--palette-brand) r g b / 0.5);
		padding: var(--spacing-md) 0;

		@media only screen and (min-width: 1024px) {
			padding: var(--spacing-lg) 0;
		}
	}

	p {
		font-family: var(--font-sans-serif);
		font-size: 1.8rem;
		line-height: 1.8em;
		margin: 0;

		@media only screen and (min-width: 1024px) {
			font-size: 2.4rem;
			line-height: 4rem;
			width: 70%;
		}
	}
}
