@use 'sass:map';
@use '../../theme/variables/palette.scss';
@use '../../theme/media.scss';

.hero {
	h1 {
		font-size: 3.6rem;
	}

 b {
  color: map.get(palette.$palette, cta-background);
 }

	p {
		font-size: 2rem;
		line-height: 3.6rem;
		margin: 0;

		@include media.tabletLandscape {
			font-size: 2.4rem;
			line-height: 4rem;
			width: 70%;
		}
	}
}
