.hero {
	.inner-wrap div {
		width: 100%;
	}

	h1 {
		font-size: 2.4rem;

		strong {
			display: block;
			font-size: 4.2rem;
			&:after {
				content: '.';
				color: var(--palette-brand);
			}
		}
	}

	p {
		font-size: 2.2rem;
		line-height: 3.6rem;
		margin: 0;

		@media only screen and (min-width: 1024px) {
			font-size: 2.4rem;
			line-height: 4rem;
			width: 70%;
		}
	}
}
