/* @use 'sass:map';
@import '../../theme/functions/to-rem.scss';
@import '../../theme/variables/palette.scss';
@import '../../theme/media.module.scss'; */
@import '../../theme/variables/breakpoints.css';

.heading {
	font-size: 4rem;
}

.hero-copy {
	font-size: 2rem;
	line-height: 3rem;
	margin: 0;

	/* @include mediaTabletLandscape {
font-size: toRem(24);
line-height: toRem(40);
width: 70%;
} */
}
