@use 'sass:map';
@use '../../theme/variables/palette.scss';
@use '../../theme/variables/spacing.scss';
@use '../../theme/variables/font.scss';
@use '../../theme/media.scss';

.item {
	background: transparent;
	display: flex;
	flex-direction: column;
	margin: 0 0 map.get(spacing.$spacing, lg);

	&:first-of-type {
		margin-top: map.get(spacing.$spacing, default);

		@include media.tabletLandscape {
			margin-top: map.get(spacing.$spacing, lg);
		}
	}
}

.header {
	display: flex;
	flex-direction: column;
}

.image-wrap {
	padding-top: map.get(spacing.$spacing, default);

	@include media.tabletLandscape {
		max-width: 42%;
		min-width: 42%;
		padding: 0;
		width: 42%;
	}
}

.image {
	display: block;
	height: auto;
	margin: 0 0 map.get(spacing.$spacing, default);
	width: 100%;

	@include media.tabletLandscape {
		margin: 0;
	}
}

.content {
	display: flex;
	flex-direction: column-reverse;
	gap: map.get(spacing.$spacing, default);

	@include media.tabletLandscape {
		flex-direction: row-reverse;
		gap: map.get(spacing.$spacing, lg);
		padding: map.get(spacing.$spacing, md);
	}
}

.text {
	width: 100%;
}

.copy {
	padding: 0 0 map.get(spacing.$spacing, sm);
}

.title {
	margin: 0;
	padding: 0;
}

.client {
	color: map.get(palette.$palette, body-text);
	font-family: map.get(font.$font, sans-serif);
	font-size: 1.2rem;
	font-weight: 400;
	letter-spacing: 0.1rem;
	text-transform: uppercase;

	&::after {
		content: '';
		display: block;
		border-bottom: 2px solid map.get(palette.$palette, brand);
		margin: map.get(spacing.$spacing, sm) 0 0;
		width: map.get(spacing.$spacing, default);
	}
}

.footer {
	border-bottom-right-radius: 1rem;
	border-bottom-left-radius: 1rem;

	@include media.tabletLandscape {
		padding: map.get(spacing.$spacing, default) map.get(spacing.$spacing, md);
	}
}

.cta-list {
	display: flex;
	flex-direction: column;
	gap: map.get(spacing.$spacing, default);
	justify-content: flex-end;
	list-style: none;
	margin: 0;
	padding: map.get(spacing.$spacing, default) 0;

	@include media.phoneLandscape {
		align-items: center;
		flex-direction: row;
		justify-content: flex-end;
	}
}

.cta-item {
	flex-basis: 0;
	flex-grow: 1;
	text-align: center;

	@include media.phoneLandscape {
		flex-basis: unset;
		flex-grow: unset;
	}
}
