@use 'sass:map';
@use '../../theme/variables/palette.scss';
@use '../../theme/variables/spacing.scss';
@use '../../theme/variables/font.scss';
@use '../../theme/media.scss';

.wrap {
	border-top: 1px dotted #ddd;
	padding: map.get(spacing.$spacing, default) 0 0;
	width: 100%;

	@include media.tabletPortrait {
		display: flex;
		gap: map.get(spacing.$spacing, xl);
		justify-content: flex-start;
	}
}

.inner {
	margin: 0 0 map.get(spacing.$spacing, default);
}

.title {
	color: map.get(palette.$palette, body-text);
	font-family: map.get(font.$font, sans-serif);
	font-size: 1.2rem;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	font-weight: map.get(font.$font, weight-bold);
}

.metadata-list {
	color: map.get(palette.$palette, bodyText);
	font-size: 1.4rem;
	margin: 0 0 map.get(spacing.$spacing, default);

	&:last-of-type {
		margin: 0;
	}
}

.metadata-item {
	display: inline;
	line-height: 1.8rem;
	margin: 0 0 0.8rem;

	&:not(:last-of-type) {
		&::after {
			color: map.get(palette.$palette, bodyText);
			content: ', ';
		}
	}

	span {
		color: map.get(palette.$palette, bodyText);
	}

	@include media.tabletPortrait {
		display: list-item;

		&:not(:last-of-type) {
			&::after {
				content: '';
			}
		}
	}
}
