---
import { type IPortfolioItemFields } from '@/src/types/contentful';
import Item from './item.astro';

const { items } = Astro.props

const sortedItems = items.sort((a: any, b: any) => {
    const positionA = a.position ?? 0;
    const positionB = b.position ?? 0;
    if (positionA < positionB) return -1;
    if (positionA > positionB) return 1;
    return 0;
});
---
<section id="work">
    <div class="inner-wrap">
        <h2>My work</h2>
        {sortedItems.map((item: IPortfolioItemFields, index: number) => (
            <Item key={`portfolio-item-${index}`} item={item} index={index} />
        ))}
    </div>
</section>
