

.portfolio__wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--spacing-md);
    padding: var(--spacing-md) 0 0;

    @media only screen and (min-width: 768px) {
        flex-direction: row;
        gap: var(--spacing-lg);
    }
}

.portfolio__item {

    &:not(:last-of-type) {
        border-bottom: 1px solid var(--palette-border);
        padding-bottom: var(--spacing-default);

        @media only screen and (min-width: 768px) {
            border: 0;
            padding-bottom: 0;
        }

    }

    @media only screen and (min-width: 768px) {
        width: calc(50% - var(--spacing-lg));
    }
}

.portfolio__image {
    height: auto;
    margin: 0 0 var(--spacing-default);
    width: 100%;
}

.portfolio__client {
    
}

.portfolio__meta {

}

.portfolio__meta_item {

}

.portfolio__meta_title {
    color: var(--palette-body-text-75);
	font-size: 0.75rem;
	letter-spacing: 0.1em;
	margin: 0 0 var(--spacing-sm);
	text-transform: uppercase;
}

.portfolio__meta_item_title {
    margin: 0;
}

.portfolio__meta_list {
    list-style: none;
    margin: 0 0 var(--spacing-sm);
}

.portfolio__meta_list_item {
    display: inline;
    font-family: var(--font-sans);
    font-size: 0.875rem;

    &:not(:last-child):after {
        content: ', ';
        margin-right: 0.25rem;
    }

}

.portfolio__link {
    font-weight: 600;
}


/* .portfolio__wrap {

}

.portfolio__inner {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    padding: var(--spacing-md) 0 0;

    @media only screen and (min-width: 768px) {
        flex-direction: row-reverse;
    }

}

.portfolio__item {
    background: var(--palette-body-background);
    border: 1px solid var(--palette-border);
    padding: var(--spacing-default);

    &:last-of-type {
        border-bottom: 0;
        padding-bottom: 0;
    }

    @media only screen and (min-width: 1024px) {
        width: calc(33% - var(--spacing-md));
    }

}

.portfolio__link {
    border: 0;
    text-decoration: none;
}

.portfolio__image {
    height: auto;
    margin-bottom: var(--spacing-sm);
    width: 100%;
}

.portfolio__title {

}

.portfolio__client {
    color: var(--palette-body-text-75);
	font-size: 0.75rem;
	letter-spacing: 0.1em;
	margin: 0;
	text-transform: uppercase;
}

.portfolio__description {
    margin: 0 0 var(--spacing-default);
}

.portfolio_details__content {
    display: flex;
    flex-direction: column;

    p:last-of-type {
        margin-bottom: 0;
    }

}

.portfolio_details__info {
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: 1024px) {
        flex-direction: row;
        gap: var(--spacing-default);
        justify-content: space-between;
    }

}

.portfolio_details__image {
    margin: 0 0 var(--spacing-default);
}

.portfolio_details__link {
    font-weight: 600;
    margin: 0 0 var(--spacing-sm);
}

.portfolio_details__link_list {
    border-bottom: 1px solid var(--palette-border);
    list-style: none;
    margin: 0 0 var(--spacing-default);
    padding: 0 0 var(--spacing-default);
}

.portfolio_details__link_item {
    font-family: var(--font-sans);
    margin: 0 0 var(--spacing-sm);
}

.portfolio_details__client {
    margin: 0 0 var(--spacing-sm);
    
   
}

.meta__wrap {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);

    @media only screen and (min-width: 1024px) {
        flex-direction: row;
        gap: var(--spacing-lg);
    }

}

.meta__heading {
    font-family: var(--font-serif);
    font-weight: 600;
    margin: 0;
}

.meta__list {
    display: inline-flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 0 var(--spacing-sm);
    padding: 0;

    @media only screen and (min-width: 1024px) {
        display: block;
    }

}

.meta__item {
    font-family: var(--font-sans);
    font-size: 0.875rem;
    margin: 0 0 var(--spacing-xs);

    &:not(:last-child):after {
        content: ', ';
        margin-right: 0.25rem;
    }

} */