.link-list {
	display: flex;
	flex-direction: row;
	gap: var(--spacing-default);
	justify-content: center;
	list-style: none;

	@media only screen and (min-width: 768px) {
		gap: var(--spacing-md);
		justify-content: unset;
	}

	a {
		border: 0;

		span {
			color: var(--palette-body-text-75);
			font-size: 2rem;

			@media (prefers-reduced-motion: reduce) {
				transition: none;
			}

		}

		&:hover, &:focus {
			
			span {
				color: var(--palette-body-text);
			}

		}

	}

}
