h1,
h2,
h3,
h4 {
	color: var(--palette-body-text);
	font-family: var(--font-serif);
	font-size: var(--font-size);
	font-weight: var(--font-weight-bold);
	margin: 0 0 1em;
}

/* h1,
h2 {
	&::after {
		content: '';
		display: block;
		border-bottom: 3px solid var(--palette-brand);
	}
} */

h1 {
	font-size: 4rem;
	font-weight: 800;
	line-height: 5rem;

	&::after {
		content: '.';
		color: var(--palette-brand);
	}

	/* &::after {
		margin: var(--spacing-default) 0;
		width: var(--spacing-lg);
	} */
}

h2 {
	font-size: 2.4rem;
	font-weight: var(--font-weight-bold);
	line-height: 1.6rem;
	margin: 0 0 2em;

	&::after {
		margin: var(--spacing-default) 0;
		width: var(--spacing-md);
	}
}

h3 {
	font-size: 2.2rem;
	font-weight: var(--font-weight-bold);
	line-height: 3rem;
	margin: 0 0 var(--spacing-sm);
	padding: 0 0 var(--spacing-sm) 0;
}
