/* h1,
h2,
h3,
h4 {
	color: var(--palette-body-text);
	font-family: var(--font-serif);
	font-size: var(--font-size);
	font-weight: var(--font-weight-bold);
	margin: 0 0 1em;
} */

/* h1,
h2 {
	&::after {
		content: '';
		display: block;
		border-bottom: 3px solid var(--palette-brand);
		width: 15%;
	}
} */

h1 {
	font-family: var(--font-serif);
	font-size: clamp(3.5rem, 10vw, 8rem);
	font-weight: inherit;
	line-height: 0.9;
	letter-spacing: -0.02em;
	margin-bottom: 2rem;
	text-wrap: balance;

	&::after {
		content: '.';
		color: var(--palette-brand);
	}

	span {
		font-style: italic;
	}
}

/* h1 {
	font-size: 4rem;
	font-weight: 800;
	line-height: 1.2em;

	&::after {
		content: '.';
		color: var(--palette-brand);
	}

	@media only screen and (min-width: 1024px) {
		font-size: 8rem;
	}

	/* &::after {
		margin: var(--spacing-default) 0;
		width: var(--spacing-lg);
	} 
} */

/* h2 {
	font-size: 2.4rem;
	line-height: 1.6rem;
	margin: 0 0 2em;

	&::after {
		margin: var(--spacing-default) 0;
		width: var(--spacing-md);
	}
}

h3 {
	font-size: 2.2rem;
	font-weight: var(--font-weight-bold);
	line-height: 3rem;
	margin: 0 0 var(--spacing-sm);
	padding: 0 0 var(--spacing-sm) 0;
} */
