@use 'sass:map';
@use '../../theme/variables/spacing.scss';
@use '../../theme/variables/palette.scss';
@use '../../theme/media.scss';

.wrap {
	gap: map.get(spacing.$spacing, default);
	display: flex;
	flex-direction: column;

	@include media.tabletLandscape {
		flex-direction: row;
		gap: map.get(spacing.$spacing, lg);
	}
}

.content {
	display: flex;
	flex-direction: column;

	@include media.tabletLandscape {
		flex-direction: row-reverse;
		gap: map.get(spacing.$spacing, lg);
	}
}

.aside {
	display: flex;
	flex-direction: column;

	@include media.tabletPortrait {
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
	}

	@include media.tabletLandscape {
		flex-direction: column;
		justify-content: flex-start;
		width: map.get(spacing.$spacing, 5xl);
	}
}

.image {
	border: 5px solid map.get(palette.$palette, white);
	border-radius: 100%;
	box-shadow: 0 0 10px #ddd;
	display: block;
	height: 200px;
	margin: 0 auto map.get(spacing.$spacing, md);
	width: auto;
}

.link-list {
	display: flex;
	flex-direction: column;
	gap: map.get(spacing.$spacing, default);
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0 0 map.get(spacing.$spacing, md);

	@include media.tabletPortrait {
		flex-direction: row;
		gap: map.get(spacing.$spacing, lg);
		justify-content: left;
		padding: map.get(spacing.$spacing, md) 0 0;
	}

	@include media.tabletLandscape {
		gap: map.get(spacing.$spacing, md);
		justify-content: flex-start;
	}

	span:first-of-type {
		margin-right: 1rem;
	}
}
