.wrap {
	gap: var(--spacing-default);
	display: flex;
	flex-direction: column;

	@media only screen and (min-width: 1024px) {
		flex-direction: row;
		gap: var(--spacing-lg);
	}
}

.content {
	display: flex;
	flex-direction: column;

	@media only screen and (min-width: 1024px) {
		flex-direction: row-reverse;
		gap: var(--spacing-lg);
	}
}

.aside {
	display: flex;
	flex-direction: column;

	@media only screen and (min-width: 768px) {
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
	}

	@media only screen and (min-width: 1024px) {
		flex-direction: column;
		justify-content: flex-start;
		width: var(--spacing-5xl);
	}
}

.image {
	border: 5px solid var(--palette-white);
	border-radius: 100%;
	box-shadow: 0 0 10px #ddd;
	display: block;
	height: 200px;
	margin: 0 auto var(--spacing-md);
	width: auto;
}
