.navigation {
	/* height: 100vh;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	 */

	nav {
		background: var(--palette-brand);
		border: 0;
		height: 100vh;
		position: relative;
		width: 100vw;
		/* align-items: flex-start;
		background: var(--palette-body-text);
		content: '';
		
		height: 100vh;
		
		left: 0;
		opacity: 0.75;
		position: absolute;
		top: 0;
		width: 100%; */
	}

	.navigationToggle {
		background: transparent;
		border: 0;
		position: absolute;
		top: 3rem;
		right: 2rem;
		width: 2rem;
		height: 2rem;

		span {
			border-bottom: 3px solid var(--palette-brand);
			display: block;
			height: 2px;
			margin: 0 0 0.4rem;
		}
	}

	.navigationClose {
		span {
			border-bottom: 3px solid #fff;
			transform-origin: 33% 50%;
			transition: transform 0.5s ease-in;

			&:first-of-type {
				transform: rotate(45deg);
			}

			&:last-of-type {
				transform: rotate(-45deg);
			}

		}
	}

	ul {
		font-family: var(--font-sans);
		font-size: 1.8rem;
		padding: var(--spacing-lg) 0;
		text-align: center;
		text-transform: uppercase;
	}

	li {
		font-weight: 700;
		list-style: none;
		margin-bottom: var(--spacing-md);
	}

	a {
		border-bottom: 0;
		color: #fff;
	}
}
