@use 'sass:map';
@use 'variables/breakpoints.scss';
@use 'variables/spacing.scss';
@use 'variables/font.scss';
@use 'variables/palette.scss';
@use 'headings.scss';
@use 'layout.scss';

html {
	font-size: 62.5%;
}

html,
body,
fieldset {
	box-sizing: border-box;
	background: map.get(palette.$palette, body-background);
	color: map.get(palette.$palette, body-text);
	font-family: map.get(font.$font, serif);
	font-weight: map.get(font.$font, weight);
	line-height: map.get(font.$font, line-height);
	margin: 0;
	padding: 0;
	text-rendering: optimizeLegibility;
}

html {
	border-top: 10px solid map.get(palette.$palette, brand);
	font-size: font.$base-font-size;
}

body {
	font-size: map.get(font.$font, size);
}

.no-scroll {
	overflow: hidden;
}

.no-js-alert {
	display: block;
}

fieldset {
	border: 0;
	padding: 0;
}

details summary::marker {
	display: none;
}

a {
	border-bottom: 1px solid map.get(palette.$palette, grey);
	color: map.get(palette.$palette, body-text);
	text-decoration: none;
	transition: all 0.3s ease-in-out;

	&:hover,
	&:focus {
		border-bottom-color: map.get(palette.$palette, brand);
	}
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.sr-only {
	border: 0;
	clip: rect(0 0 0 0);
	color: map.get(palette.$palette, white);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.cta-link {
	background: map.get(palette.$palette, brand);
	border: 0;
	border-radius: 0.3rem;
	color: map.get(palette.$palette, white);
	display: block;
	font-family: var(--font-sans-serif);
	font-size: 1.6rem;
	font-weight: map.get(font.$font, weight-bold);
	outline: 5px solid transparent;
	padding: map.get(spacing.$spacing, sm) map.get(spacing.$spacing, md);
	text-align: center;
	text-decoration: none;
	transition: all 0.5s ease;

	&:hover,
	&:focus-visible {
		outline: 5px solid map.get(palette.$palette, cta-background);
	}

	&:focus-visible {
		text-decoration: underline;
	}
}
