@use 'sass:map';
@use 'sass:math';
@use 'variables/breakpoints.scss';
@use 'variables/font.scss';
@use 'headings.scss';
@use 'layout.scss';
@use './functions/to-rem.scss';

:root {
	// Palette
	--palette-body-background: #fff;
	--palette-brand: #f05930;
	--palette-body-text: #454545;
	--palette-black: #211c15;
	--palette-cta-background: #31495a;
	--palette-white: #fff;
	--palette-grey: #bbb;
	--palette-light-grey: #f9f9f9;

	// Spacing
	--spacing-base: 16px;
	--spacing-default: calc(var(--spacing-base) * 1);
	--spacing-xs: calc(var(--spacing-base) * 0.25);
	--spacing-sm: calc(var(--spacing-base) * 0.5);
	--spacing-md: calc(var(--spacing-base) * 2);
	--spacing-lg: calc(var(--spacing-base) * 4);
	--spacing-xl: calc(var(--spacing-base) * 6);
	--spacing-2xl: calc(var(--spacing-base) * 8);
	--spacing-3xl: calc(var(--spacing-base) * 10);
	--spacing-4xl: calc(var(--spacing-base) * 14);
	--spacing-5xl: calc(var(--spacing-base) * 20);
}

html {
	font-size: 62.5%;
}

html,
body,
fieldset {
	box-sizing: border-box;
	background: var(--palette-body-background);
	color: var(--palette-body-text);
	font-family: map.get(font.$font, serif);
	font-weight: map.get(font.$font, weight);
	line-height: map.get(font.$font, line-height);
	margin: 0;
	padding: 0;
	text-rendering: optimizeLegibility;
}

html {
	border-top: 10px solid var(--palette-brand);
	font-size: font.$base-font-size;
}

body {
	font-size: map.get(font.$font, size);
}

.no-scroll {
	overflow: hidden;
}

.no-js-alert {
	display: block;
}

fieldset {
	border: 0;
	padding: 0;
}

details summary::marker {
	display: none;
}

a {
	border-bottom: 1px solid var(--palette-grey);
	color: var(--palette-body-text);
	text-decoration: none;
	transition: all 0.3s ease-in-out;

	&:hover,
	&:focus {
		border-bottom-color: var(--palette-brand);
	}
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.sr-only {
	border: 0;
	clip: rect(0 0 0 0);
	color: var(--palette-white);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.cta-link {
	background: var(--palette-cta-background);
	border: 0;
	border-radius: 0.5rem;
	color: var(--palette-white);
	display: block;
	font-family: var(--font-sans-serif);
	font-size: 1.4rem;
	font-weight: map.get(font.$font, weight-bold);
	outline: 5px solid transparent;
	padding: var(--spacing-xs) var(--spacing-default);
	text-align: center;
	text-decoration: none;
	transition: all 0.5s ease;

	&:hover,
	&:focus-visible {
		outline: 5px solid var(--palette-brand);
	}

	&:focus-visible {
		text-decoration: underline;
	}
}
