@use 'sass:map';
@import './headings.scss';
@import './typography.scss';
@import './lists.scss';
@import './variables/_variables.scss';

html,
body,
fieldset {
	box-sizing: border-box;
	font-family: $font-sans-serif;
	font-size: $font-size;
	font-weight: $font-weight;
	margin: 0;
	padding: 0;
	text-rendering: optimizeLegibility;
}
html,
body {
	background: #fff;
	color: map.get($palette, 'primary', 'bodyText');
	font-family: var(--font-serif);
}

body {
	border-top: 10px solid map.get($palette, 'primary', 'brand');
	position: relative;
}

.no-scroll {
	overflow: hidden;
}

.no-js-alert {
	display: block;
}

fieldset {
	border: 0;
	padding: 0;
}

details summary::marker {
	display: none;
}

a {
	color: inherit;
	text-decoration: underline;
}
