@use 'sass:map';
@use 'variables/spacing.scss';
@use 'variables/palette.scss';
@use 'variables/font.scss';

h1,
h2,
h3,
h4 {
	color: map.get(palette.$palette, body-text);
	font-family: map.get(font.$font, serif);
	font-size: map.get(font.$font, size);
	font-weight: map.get(font.$font, weight-bold);
	margin: 0;
}

h1,
h2 {
	// &::after {
	// 	content: '';
	// 	display: block;
	// 	border-bottom: 3px solid map.get(palette.$palette, brand);
	// }
}

h1 {
	font-family: map.get(font.$font, serif);
	font-size: 3rem;
	font-weight: map.get(font.$font, weight);
	line-height: 5rem;
	// margin: 0;
	margin: map.get(spacing.$spacing, md) 0;

	// &::after {
	// 	margin: map.get(spacing.$spacing, default) 0;
	// 	width: map.get(spacing.$spacing, lg);
	// }
}

h2 {
	font-size: 2.4rem;
	font-weight: map.get(font.$font, weight-bold);
	line-height: 1.6rem;
	margin: 0 0 map.get(spacing.$spacing, default);

	&::after {
		margin: map.get(spacing.$spacing, default) 0;
		width: map.get(spacing.$spacing, md);
	}
}

h3 {
	font-size: 2.2rem;
	font-weight: map.get(font.$font, weight-bold);
	line-height: 3rem;
	margin: 0 0 map.get(spacing.$spacing, sm);
	padding: 0 0 map.get(spacing.$spacing, sm) 0;

	/* @include tabletLandscape {
		font-size: toRem(18);
		line-height: toRem(30);
	} */
}
