@use 'sass:map';
@use 'media.scss';
@use "variables/breakpoints";


.inner-wrap {
	margin: 0 auto;
	width: 90%;

	&:first-of-type {
		height: 100%;
	}

	@include media.mediaTabletLandscape {
		padding: 0;
		width: map.get(breakpoints.$breakpoints, 'tablet-landscape');
	}

	@include media.mediaDesktop {
		width: map.get(breakpoints.$breakpoints, 'desktop');
	}
}
