@import './functions/to-rem.scss';
@import './media.module.scss';
@import './variables/breakpoints.scss';
@import './variables/spacing.scss';

.wrap {
    margin: 0 auto;
    padding: 0 $spacing-md-rem;

    @include mediaTabletLandscape {
        padding: 0;
        width: toRem(map-get($breakpoints, tabletLandscape));
    }

    @include mediaDesktop {
        width: toRem(map-get($breakpoints, desktop));
    }

}