@use 'sass:map';
@import './media.scss';

.inner-wrap {
	margin: 0 auto;
	width: 90%;

	&:first-of-type {
		height: 100%;
	}

	@include mediaTabletLandscape {
		padding: 0;
		width: map-get($breakpoints, 'tablet-landscape');
	}

	@include mediaDesktop {
		width: map-get($breakpoints, 'desktop');
	}
}
