@use 'sass:map';
@use 'media.scss';
@use 'variables/breakpoints.scss';
@use 'variables/palette.scss';
@use 'variables/spacing.scss';

section {
	background: transparent;
	// align-items: center;
	// display: flex;
	// flex-direction: column;
	height: calc(100vh - (map.get(spacing.$spacing, lg) * 3));
	// justify-content: flex-start;
	padding: map.get(spacing.$spacing, md) 0;

	&:first-of-type {
		// padding-top: map.get(spacing.$spacing, default);

		.inner-wrap {
			display: flex;
			flex-direction: column;
			height: 100%;
			justify-content: center;
		}
	}

	&:nth-of-type(2n) {
		background: map.get(palette.$palette, light-grey);
	}

	@include media.tabletLandscape {
		padding: map.get(spacing.$spacing, lg) 0;
	}
}

.inner-wrap {
	margin: 0 auto;
	width: 80%;

	@include media.tabletLandscape {
		padding: 0;
		width: map.get(breakpoints.$breakpoints, 'tablet-landscape');
	}

	@include media.desktop {
		width: map.get(breakpoints.$breakpoints, 'desktop');
	}
}
