@use 'media.scss';

section {
	background: transparent;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: var(--spacing-md) 0;

	&:first-of-type {
		padding-top: var(--spacing-default);
	}

	&:nth-of-type(2n) {
		background: var(--palette-light-grey);
	}

	@include media.tabletLandscape {
		padding: var(--spacing-lg) 0;
	}
}

.inner-wrap {
	margin: 0 auto;
	width: 90%;

	&:first-of-type {
		height: 100%;
	}

	@include media.tabletLandscape {
		padding: 0;
		width: var(--breakpoint-tablet-landscape);
	}

	@include media.desktop {
		width: var(--breakpoint-desktop);
	}
}
