@mixin phonePortrait {
	@media only screen and (min-width: var(--breakpoint-phone-portrait)) {
		@content;
	}
}

@mixin phoneLandscape {
	@media only screen and (min-width: var(--breakpoint-phone-landscape)) {
		@content;
	}
}

@mixin tabletPortrait {
	@media only screen and (min-width: var(--breakpoint-tablet-portrait)) {
		@content;
	}
}

@mixin tabletLandscape {
	@media only screen and (min-width: var(--breakpoint-tablet-landscape)) {
		@content;
	}
}

@mixin desktop {
	@media only screen and (min-width: var(--breakpoint-desktop)) {
		@content;
	}
}

@mixin prefersReducedMotion {
	@media only screen and (prefers-reduced-motion: reduce) {
		@content;
	}
}

@mixin media($breakpoint) {
	@media only screen and (min-width: $breakpoint) {
		@content;
	}
}
