---
export const prerender = true

// import * as contentful from 'contentful';
import Layout from '@/src/layouts/Layout.astro';
import Hero from '@/src/components/hero/hero.astro';
import Projects from '@/src/components/projects/projects.astro';
import Employment from '@/src/components/employment/employment.astro';


// import Header from '@/src/components/header/header.astro';
// import  Hero from '@/src/components/hero/hero.astro';
// import  About from '@/src/components/about/about.astro';
// import Portfolio from '@/src/components/portfolio/portfolio.astro';
// import Footer from '@/src/components/footer/footer.astro';
// import Links from '@/src/components/links/links.astro';

// const getCmsData = async () => {	
	
// 	const contentfulClient = contentful.createClient({
//       space: import.meta.env.CONTENTFUL_SPACE_ID ?? "",
//       accessToken: import.meta.env.CONTENTFUL_ACCESS_TOKEN ?? "",
//     });
// 	const entries = await contentfulClient.getEntries();
// 	return entries;
// };

// const cmsData = await getCmsData();

// const portfolioData = cmsData.items
// 		.filter((item: any) => item.sys.contentType.sys.id === 'portfolioItem')
// 		.map((item: any) => item.fields);

// const aboutData = cmsData.items.find((item: any) => item.sys.contentType.sys.id === 'aboutMe')?.fields;
---
<Layout>
	<Hero />
	<section class="philosophy">
		<div>
			<span class="section-label">Expertise</span>
			<h2 class="serif-italic">Who am I?</h2>
			<p>I've been working in web development since 2004, back when all this was just fields and we had to use <a href="https://css-tricks.com/snippets/css/browser-specific-hacks/">a whole manner of nasty hacks to get our CSS working</a>. In that time I have worked on a wide range of projects, from small brochure-ware microsites through to enterprise-level single-page web apps serving millions of users.</p>
		</div>
		<div>
			<span class="section-label">Values</span>
			<h2 class="serif-italic">The Approach</h2>
			<p>I am passionate about web accessibility and how to build for assistive technologies. I'm also a big fan of good testing, sensible code, and striving for simple solutions to complex problems.</p>
		</div>
	</section>

	<Employment />

	<section class="work-section">
		<div class="work-header">
			<div>
				<span class="section-label">Selected work</span>
				<h2 class="serif-italic" style="font-size: 2.5rem; margin-bottom: 0;">Portfolio</h2>
			</div>
		</div>

		<Projects />
	</section>
</Layout>