.header {
	background: var(--palette-white);
	border-bottom: 1px solid var(--palette-border);
	position: sticky;
	top: 0;

	& > div {
		display: flex;
		justify-content: space-between;
		padding: var(--spacing-default);

		@media only screen and (min-width: 1024px) {
			padding: var(--spacing-md) var(--spacing-default);
		}

	}

	svg {
		height: 50px;
		width: 50px;

		@media only screen and (min-width: 1024px) {
			height: 70px;
			width: 70px;
		}
	}

}