.header {
	border-bottom: 1px solid var(--palette-border);
	display: flex;
	justify-content: space-between;
	margin: 0 0 var(--spacing-md);
	padding: var(--spacing-default) 0;

	@media only screen and (min-width: 1024px) {
		padding: var(--spacing-md) 0;
	}

	svg {
		height: 50px;
		width: 50px;

		@media only screen and (min-width: 1024px) {
			height: 70px;
			width: 70px;
		}
	}

}