---
import Logo from '@/src/components/logo/logo.astro';
import styles from './header.module.css';
---

<header class={styles.header}>
    <div class="inner-wrap">
        <Logo />
    </div>
</header>