@use 'sass:map';
@use '../../theme/media.scss';
@use '../../theme/variables/font.scss';
@use '../../theme/variables/palette.scss';
@use '../../theme/variables/spacing.scss';

.footer {
	background: map.get(palette.$palette, body-text);
	color: map.get(palette.$palette, white);

	padding: map.get(spacing.$spacing, sm) 0;
	font-size: 1.4rem;

	& > div {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@include media.tabletPortrait {
			flex-direction: row;
		}
	}

	@include media.tabletLandscape {
		text-align: right;
	}
}
