.footer {
	background: var(--palette-white);
	border-top: 1px solid var(--palette-border);
	color: var(--palette-body-text);

	p {
		font-size: 0.8rem;
		margin: 0;
	}
	
}

.content_wrap {
	align-items: center;
	display: flex;
	flex-direction: row;
	font-size: 1.4rem;
	gap: var(--spacing-default);
	justify-content: space-between;
	padding: var(--spacing-default) var(--spacing-default);

	@media only screen and (min-width: 768px) {
		flex-direction: row;
		padding: var(--spacing-md) var(--spacing-default);
	}

}
