@use 'sass:map';
@use '../../theme/media.scss';

.footer {
	background: var(--palette-body-text);
	color: var(--palette-white);
	display: flex;
	flex-direction: column;
	padding: var(--spacing-default) 0;
	font-size: 1.4rem;

	& > div {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@include media.tabletPortrait {
			flex-direction: row;
		}
	}

	@include media.tabletLandscape {
		text-align: right;
	}
}
