---
import styles from './footer.module.css';
import Music from '@/src/components/music/music.astro';
---

<footer class={styles.footer}>
    <div class="inner-wrap">
        <p>Copyright &copy; Simon Hudson {new Date().getFullYear()}</p>
        <Music server:defer />
    </div>
</footer>
