:root {
	--palette-primary-body-background: #fef9f5; /*ede0cb parchment*/
	--palette-primary-brand: #f05930;
	--palette-primary-body-text: #211c15;
	--palette-primary-black: #211c15;
	--palette-primary-white: #fff;
	--palette-primary-grey: #bbb;
	--palette-primary-light-grey: #f9f9f9;
}
