:root {
	--palette-body-background: #fff;
	--palette-brand: #f05930;
	--palette-body-text: #454545;
	--palette-black: #211c15;
	--palette-cta-background: #31495a;
	--palette-white: #fff;
	--palette-grey: #bbb;
	--palette-light-grey: #f9f9f9;
}
