$orange: #f05930;
$coral: #fa5553;

$palette: (
	body-background: #fff,
	brand: $coral,
	body-text: #454545,
	black: #211c15,
	cta-background: #31495a,
	white: #fff,
	grey: #bbb,
	light-grey: #f9f9f9,
	foo: sage,
);
