@use 'sass:map';
@use 'sass:math';
@use '../variables/font.scss';

$spacing: (
	default: map.get(font.$font, size),
	xs: math.div(map.get(font.$font, size), 4),
	sm: math.div(map.get(font.$font, size), 2),
	md: map.get(font.$font, size) * 2,
	lg: map.get(font.$font, size) * 4,
	xl: map.get(font.$font, size) * 6,
	2xl: map.get(font.$font, size) * 8,
	3xl: map.get(font.$font, size) * 10,
	4xl: map.get(font.$font, size) * 14,
	5xl: map.get(font.$font, size) * 20,
);

:root {
	--spacing-default: 1.6rem;
	--spacing-xs: math.div(var(--spacing-default), 4) px;
	--spacing-sm: math.div(var(--spacing-default), 2) px;
	--spacing-md: math.div(var(--spacing-default), 1) px;
	--spacing-lg: math.div(var(--spacing-default), 0.5) px;
	--spacing-xl: math.div(var(--spacing-default), 0.33) px;
	--spacing-2xl: math.div(var(--spacing-default), 0.25) px;
	--spacing-3xl: math.div(var(--spacing-default), 0.2) px;
}
