@use 'sass:map';
@use '../variables/font.scss';

$spacing: (
	rem: (
		default: map.get(font.$font, size),
		xs: map.get(font.$font, size) / 4,
		sm: map.get(font.$font, size) / 2,
		md: map.get(font.$font, size) * 2,
		lg: map.get(font.$font, size) * 4,
		xl: map.get(font.$font, size) * 6,
		2xl: map.get(font.$font, size) * 8,
		3xl: map.get(font.$font, size) * 10,
	),
);
