---
import '@fontsource/open-sans/400.css';
import '@fontsource/open-sans/600.css';
import '@fontsource/open-sans/800.css';
import '@fontsource/lora/400.css';
import '@fontsource/lora/700.css';
---

<html lang="en">
    <head>
        <link rel="stylesheet" href="/theme/global.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Personal website of Simon Hudson, a Full Stack Developer based in Derby, UK." />
        <title>Simon Hudson | Full Stack Developer</title>
    </head>
    <body>
        <slot />
        <!-- <script src="https://kit.fontawesome.com/6331124e0b.js" crossorigin="anonymous"></script> -->
    </body>
</html>